.best-sellers {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f9f9f9;
	padding: 100px 0 50px 0;
}

.container {
	max-width: var(--container-width);
	padding: 32px;
}

.title {
	font-size: 50px;
	margin-bottom: 16px;
	text-align: center;
}

.loading {
	padding: 32px;
	font-style: italic;
	color: #777;
	padding: 32px;
	font-size: 20px;
	text-align: center;
}

.carousel-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}

.carousel {
	display: flex;
	overflow-x: auto;
	gap: var(--card-gap);
	width: calc((var(--card-width) * 4) + (var(--card-gap) * 3));
	padding-bottom: 16px;
	scrollbar-width: none;
	scroll-behavior: smooth;
}

.navButton {
	background-color: transparent;
	border: none;
	font-size: 32px;
	cursor: pointer;
	padding: 0 16px;
	color: #333333;
	user-select: none;
	transition: color 0.3s ease;
}
