.contact-info {
	padding: 48px 32px;
}

.title {
	font-size: 30px;
	text-align: start;
	margin-bottom: 32px;
	color: #333;
}

.items {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.item {
	display: flex;
	flex-direction: column;
}

.label {
	font-weight: bold;
	color: #555;
	margin-bottom: 4px;
}

.link {
	color: #007bff;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.text {
	color: #333;
}

@media (max-width: 768px) {
    .contact-info {
		width: 100%;
	}

	.title, .items {
		text-align: center;
	}
}
