:root {
    --highlight-heigh: 400px;
}

.highlight {
	position: relative;
	background-image: url('/images/fashion-1979136_1280.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	height: var(--highlight-heigh);
	display: flex;
	align-items: center;
	justify-content: center;
}

.overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
	height: var(--highlight-heigh);
}

.container {
    width: var(--container-width);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 16px;
}

.content {
	text-align: start;
	max-width: 700px;
}

.title {
	font-size: 38px;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.subtitle {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: #d95d95;
}

.description {
	font-size: 1rem;
	line-height: 1.6;
	color: #e0e0e0;
}

@media (max-width: 768px) {
	.title {
		font-size: 25px;
	}

	.subtitle {
		font-size: 20px;
	}

	.description {
		font-size: 16px;
	}
}
